fastapi
uvicorn[standard]
langchain-core
langchain-openai
langgraph
python-dotenv
pydantic
langchain-qdrant
qdrant-client
sentence-transformers
pandas
openpyxl
python-docx
langchain-text-splitters
langchain-community
huggingface_hub
langchain-huggingface
pdfplumber
